*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.total-container{
    height: 100vh;
    background-color: rgba(0,0,0,255);
}

.top-nav{
    text-align: right;
    padding: .5rem;
    flex-shrink: 0;
}

.button-nav{
    background-color: rgba(34,34,34,255); 
    flex-shrink: 0;

}

.button-nav button{
    border: 0;
    background-color: transparent;
    color: white;
    padding: .5rem;
     /*imposto un altezza finchè non metto le icone*/
}

:root{
    --paddin-dimension:10px;
}

:root{
    --color-text:white; 
}

:root{
    --centratura-testo: center;
}

:root{
    --disp-flex: flex;
}




button .mute{
    font-size: small;
}

.parte-sx-flex{
    display: flex;
}



.microfono {
    text-align: center;
    color: white;
}

.mute-text{
    color: white; 
}

.micro-arrow-cont-flex{
    display: flex;
}

.micro-mute-container{
    padding: 10px;
}

.mute-text{
    font-size: smaller;
}

.freccia-container{
    color: white;
    font-weight: bolder;
    padding: 16px 0;
}

.camera-arrow-cont-flex{
    display: var(--disp-flex);
}

.camera{
    text-align: center;
    padding-top: 8px;
}

.stop-text{
    text-align: center;
    padding-top: 8px;
}


/****************inizio main****************/


.main-container{
    flex-grow: 1;
}

.total-container{
    display: flex;
    flex-direction: column;
}

.centre-container{
    padding: 1rem;
    /*per limitare la larghezza di questo contenitore:*/
    margin: 20px 5vw;
    /*max-width: 920px; un'alta possibilità per limitare la width*/
    /*width: 90%; un'alta possibilità per limitare la width*/
    display: flex;
    flex-wrap: wrap;
    /*gap: 0 5px;*/
    height: calc(100% - 40px);/*per far allungare il contenuto*/
} /*l'altezza meno il margine sopra e sotto che sono ciascuno 20px*/


.card{
    border: 4px solid transparent;
    position: relative;
    height: calc(100%/5);
    flex-basis: calc(100%/7);
}

.card:hover{
    background-color: yellow;
}

.card img{
    width: 100%;
    height: 100%;
    display: block;/*per non avere lo spazio di 3px sotto l'img*/
    object-fit: cover;

}

.user-name-container{
    padding: .25rem;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}